* {
	box-sizing: border-box;
}

body,
html {
	display: flex;
	height: 100%;
	margin: 0;
	flex-direction: column;
	background-image: url(https://images.unsplash.com/photo-1547093349-65cdba98369a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	user-select: none;
}
.background {
	backdrop-filter: blur(5px);

	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	backdrop-filter: blur(8px);
	position: relative;
	background-color: rgba(255, 255, 255, 0.322);
	padding: 80px 30px 30px 30px;
	border-radius: 20px;
	max-width: 600px;
	backdrop-filter: blur(8px);
}

.name {
	font-weight: 700;
	text-transform: Uppercase;
	color: rgb(83, 63, 40);
	font-size: 30px;
	text-align: center;
	margin-bottom: 20px;
}

.quote {
	font-family: 'La Belle Aurore', cursive;
	font-size: 25px;
	text-align: justify;
}

.author {
	text-align: end;
	font-size: 20px;
	font-style: italic;
	margin-bottom: 20px;
}

.portrait-half {
	position: absolute;
	top: 0;
	left: 50%;
	border: 5px solid rgba(255, 255, 255, 0.322);
	border-top-left-radius: 80px;
	border-top-right-radius: 80px;
	border-bottom: 0;
	transform: translate(-50%, -100%);
	width: 160px;
	height: 80px;
	backdrop-filter: blur(8px);
}

.portrait {
	position: absolute;
	top: 0;
	left: 50%;
	/* border: 5px solid white; */
	transform: translate(-50%, -50%);
	background-image: url(https://images.unsplash.com/photo-1522556189639-b150ed9c4330?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
	width: 150px;
	height: 150px;
	background-size: cover;
	/* background-position: center; */
	border-radius: 50%;
}

.social-media {
	text-align: center;
}

.social-media a {
	color: rgb(83, 63, 40);
}
